/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'ext-theme-classic/ext-theme-classic-all.css';

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
#banner img{
width: '100%';
height: '150px';
}
.titulo, #footer {
	text-align:center;
}
#tree_el{
	margin-left: auto;
}
#legal{
	margin-bottom: auto;
}
.limpiar{
	background: url(../../images/limpiar.png) !important;
}
.grabar{
	background: url(../../images/grabar.png) !important;
}
.eliminar{
	background: url(../../images/eliminar.png) !important;
}
.buscar{
		background: url(../../images/buscar17x17.png) !important;
}
body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../../images/asterisk/img01.gif) repeat-x;
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

h2 {
	font: 1.82em;
	font-weight: normal;
	letter-spacing: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #18BDF5;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 778px;
	height: 160px;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	padding: 0px 0 0 0;
}

#logo h1 {
	margin: 0;
	letter-spacing: -2px;
	font-size: 3.6em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	padding-right: 20px;
	background: url(../../images/asterisk/img02.gif) no-repeat right top;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -5px 0 0 0;
	text-transform: uppercase;
	font-size: 1.22em;
	letter-spacing: -1px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#formularios {
	float: center;
}

#menu ul {
	margin: 0px;
	padding: 93px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #FFFFFF;
}

#menu a:hover, .active a {
	border-bottom: 3px solid #8AD9F3;
}

/* Page */

#wrapper {
	background: url(../../images/asterisk/img03.gif) repeat-x left bottom;
}

#page {
	width: 778px;
	margin: 0px auto;
	padding: 40px 0;
}

/* Content */

#content {
	float: left;
	width: 510px;
}

/* Post */

.post {
}

.post .date {
	float: right;
	width: 76px;
	height: 58px;
	margin: 0;
	padding-top: 2px;
	background: #18BDF5 url(../../images/asterisk/img07.gif);
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.post .date b {
	display: block;
	margin-top: -5px;
	font-size: 40px;
}

.post .title {
	margin: 0;
	padding: 20px 0 0 0;
	background: url(../../images/asterisk/img05.gif) repeat-x;
	font-size: 1.8em;
}

.post .meta {
	margin: 0 0 30px 0;
	padding: 0;
	color: #C6C6C6;
	line-height:normal;
}

.post .meta a {
	color: #C6C6C6;
}

.post .entry {
	padding-bottom: 30px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 5px 0;
	background: url(../../images/asterisk/img05.gif) repeat-x left bottom;
}

#sidebar li li a {
	padding-left: 21px;
	background: url(../../images/asterisk/img06.gif) no-repeat 6px 50%;
}

#sidebar h2 {
	padding-left: 20px;
	background: url(../../images/asterisk/img04.gif) no-repeat left center;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar_wrap {
	padding: 0 21px;
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border: 1px solid #E8E8E8;
}

#calendar thead {
	background: #E8E8E8;
}

#calendar tbody td {
	border: 1px solid #E8E8E8;
	text-align: center;
}

#today {
	font-weight: bold;
}

#prev {
}

#next {
	text-align: right;
}

/* Footer */

#wrapper2 {
	background: #18BDF5;
}

#footer {
	clear: both;
	width: 700px;
	margin: 0 auto 2em auto;
	/*border-top: 1px solid #CCCCCC;*/
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	font-size: x-small;
}

#legal a {
	font-weight: bold;
}
